body{
  font-family: Raleway;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  height: 80px;
}

h1{
  font-size: 20px;
}

header *{
  display: inline-block;
}

header :nth-child(2){
  flex: 1;
}

header .logo *{
  display: block;
}

nav{
  flex:1;
  display: flex;
}



nav a{
  font-size: 20px;
  font-weight: bold;
  color: #5EF4DA;
}

nav a: hover{
  color: red;
}

.admin input{
  background-color: #efefef;
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
  height: 50px;
  color: #6c6c6c;
}

.admin button{
  background-color: #5EF4DA;
  border: 0;
  border-radius: 5px;
  height: 50px;
  color: white;
}

section{
  background-color: #f7f7f7;
}
